@model Tyvj.DataModels.Contest
@{
    ViewBag.Title = "比赛统计";
}


<div class="tyvj-left" style="width:755px;">
    <table style="width:100%" class="tyvj-shadow">
        <thead class="tyvj-list-head">
            <tr>
                <th class="tyvj-list-th">#</th>
                <th class="tyvj-list-th">题目</th>
                <th class="tyvj-list-th">AC</th>
                <th class="tyvj-list-th">PE</th>
                <th class="tyvj-list-th">WA</th>
                <th class="tyvj-list-th">OLE</th>
                <th class="tyvj-list-th">TLE</th>
                <th class="tyvj-list-th">MLE</th>
                <th class="tyvj-list-th">RE</th>
                <th class="tyvj-list-th">CE</th>
                @if (Model.Format == ContestFormat.Codeforces)
                {
                    <th class="tyvj-list-th">HKD</th>
                }
            </tr>
        </thead>
        <tbody>
            @{var i = 0;}
            @foreach (var item in Model.ContestProblems.OrderBy(x => x.Point))
            {
                <tr>
                    <td>@item.Number</td>
                    <td>@item.Problem.Title</td>
                    <td>@ViewBag.Statistics[i, 0]</td>
                    <td>@ViewBag.Statistics[i, 1]</td>
                    <td>@ViewBag.Statistics[i, 2]</td>
                    <td>@ViewBag.Statistics[i, 3]</td>
                    <td>@ViewBag.Statistics[i, 4]</td>
                    <td>@ViewBag.Statistics[i, 5]</td>
                    <td>@ViewBag.Statistics[i, 6]</td>
                    <td>@ViewBag.Statistics[i, 7]</td>
                    @if (Model.Format == ContestFormat.Codeforces)
                    {
                        <td>@ViewBag.Statistics[i, 8]</td>
                    }
                </tr>
                    { i++; }
            }
        </tbody>
    </table>
</div>
<div class="tyvj-right" style="width:200px;">
    <div class="tyvj-border-top-gray tyvj-side-content tyvj-block">
        <h3 style="margin: 10px 0 0 0;">比赛信息</h3>
        <div class="tyvj-status-info">
            <table>
                <tr><td style="width:45px;">开始</td><td><small>@Model.Begin.ToString("yyyy-MM-dd HH:mm")</small></td></tr>
                <tr><td style="width:45px;">结束</td><td><small>@Model.End.ToString("yyyy-MM-dd HH:mm")</small></td></tr>
                <tr><td style="width:45px;">赛制</td><td><small>@Model.Format.ToString()</small></td></tr>
                <tr><td style="width:45px;">题量</td><td><small>@Model.ContestProblems.Count</small></td></tr>
                <tr><td style="width:45px;">举办</td><td><small><a href="/User/@Model.UserID">@Model.User.Username</a></small></td></tr>
            </table>
        </div>
    </div>
    <div class="tyvj-border-top-gray tyvj-side-content">
        <h3>操作</h3>
    </div>
    <ul class="section" id="actions" style="margin-left:10px">
        <li><a class="action" href="/Contest/@Model.ID">比赛首页</a></li>
        @if (Model.Begin <= DateTime.Now)
        {
            if (Model.Format == ContestFormat.OI && DateTime.Now >= Model.End || Model.Format != ContestFormat.OI)
            {
                <li><a class="action" href="/Contest/@Model.ID/Standings">比赛排名</a></li>
                <li><a class="action" href="/Contest/@Model.ID/Statistics">数据统计</a></li>
                <li><a class="action" href="/Contest/@Model.ID/Statuses">提交记录</a></li>
                if (Model.Format == ContestFormat.Codeforces)
                {
                    <li><a class="action" href="/Contest/@Model.ID/Hacks">Hack记录</a></li>
                }
            }
        }
        @if (User.Identity.IsAuthenticated && (Model.UserID == ViewBag.CurrentUser.ID || ViewBag.CurrentUser.Role >= UserRole.Master))
        {
            <li><a class="action" href="/Contest/@Model.ID/Edit">管理比赛</a></li>
        }
    </ul>
</div>