@{
    ViewBag.Title = "首页";
}

<div class="tyvj-left grid_9">
    <table class="tyvj-boder-top-red tyvj-shadow tyvj-list-case tyvj-block">
        @foreach (vContest c in ViewBag.Contests)
        {
            <tr @Html.Sanitized(c.StatusAsInt == 1 ? "class=\"highlight\"" : "")>
                <td class="c1">
                    <div class="title">@Html.ActionLink(c.Title, "Show", "Contest", new { id = c.ID }, null)</div>
                    <div class="footer"><span>赛制：@c.Format / 参与人数：@c.Join / 开始时间：@c.Begin / 时长：@c.Duration</span></div>
                </td>
                @if (c.StatusAsInt == 0)
                {
                    <td class="c2"><span style="color:green">@c.Status</span></td>
                }
                else if (c.StatusAsInt == 1)
                {
                    <td class="c2"><span style="color:rgb(255,128,128)">@c.Status</span></td>
                }
                else
                {
                    <td class="c2"><span style="color:#333">@c.Status</span></td>
                }
            </tr>
        }
    </table>
    <table class="tyvj-boder-top tyvj-shadow tyvj-list-discuss">
        @foreach (vTopic t in ViewBag.Topics)
        {
            <tr @Html.Sanitized(t.Top == true ? "class=\"highlight\"" : "")>
                <td class="c1">
                    <img src="@t.Gravatar" />
                    @*<div>@Html.Gravatar(t.Gravatar, 180, "face")</div>*@
                </td>
                <td class="c2">
                    <div class="title">@Html.ActionLink(t.Title, "Index", "Topic", new { id = t.ID }, null)</div>

                    @if (t.RepliesCount > 0)
                    {
                        <div class="footer">
                            作者：@Html.ActionLink(t.Nickname, "Index", "User", new { id = t.UserID }, null) /  发表在 @Html.ActionLink(t.ForumTitle, "Index", "Forum", new { id = t.ForumID }, null)
                             /  最新回复:@Html.ActionLink(t.LastReplyNickname, "Index", "User", new { id = t.LastReplyUserID }, null) @@@t.LastReplyTime
                        </div>
                    }
                    else
                    {
                        <div class="footer">
                            作者：@Html.ActionLink(t.Nickname, "Index", "User", new { id = t.UserID }, null) / 发表在 @Html.ActionLink(t.ForumTitle, "Index", "Forum", new { id = t.ForumID }, null)
                        </div>
                    }

                </td>
                <td class="c3">@t.RepliesCount</td>
            </tr>
        }
    </table>
</div>

<div class="tyvj-right grid_3">
    <div class="tyvj-shadow tyvj-boder-top tyvj-content">
        <h2>友情链接</h2>
        <ul>
            <li><a href="http://www.qbxt.cn">清北学堂</a></li>
            <li><a href="http://www.codeforces.com">Codeforces</a></li>
        </ul>
    </div>
</div>
<div class="tyvj-clear"></div>