@model Group
@{
    ViewBag.Title = "团队";
}

<div class="tyvj-left grid_9">
    <div class="tyvj-boder-top-red tyvj-shadow tyvj-block">
        <table class="tyvj-list-case">
            <tbody id="lstGroupContests"></tbody>
        </table>
        <div>
            <a href="javascript:Load()">
                <div class="block-more enabled" id="btnMore">点击加载更多</div>
            </a>
        </div>
    </div>
</div>

<div class="tyvj-right grid_3">
    <div class="tyvj-shadow tyvj-boder-top tyvj-content">
        @if (User.Identity.IsAuthenticated)
        {
            <h2>团队操作</h2>
            <ul>
                <li>@Html.ActionLink("团队首页", "Group", "Show", new { id = ViewBag.Model.ID }, null)</li>
                <li>@Html.ActionLink("团队成员", "Group", "Member", new { id = ViewBag.Model.ID }, null)</li>
                <li>@Html.ActionLink("团队比赛", "Group", "Contest", new { id = ViewBag.Model.ID }, null)</li>
                <li>@Html.ActionLink("加入团队", "Group", "Join", new { id = ViewBag.Model.ID }, null)</li>
                <li>@Html.ActionLink("团队设置", "Group", "Settings", new { id = ViewBag.Model.ID }, null)</li>
                <li>@Html.ActionLink("成员审核", "Group", "Ratify", new { id = ViewBag.Model.ID }, null)</li>
            </ul>
        }
    </div>
</div>

<script>
    id = @Model.ID;
</script>