@model Group
@{
    ViewBag.Title = Model.Title+" - 团队";
}

<div class="tyvj-boder-top tyvj-shadow grid_9">
    <div class="cont-wrap">
        <table class="tyvj-list-discuss">
            <tbody id="lstGroupMembers"></tbody>
        </table>
        <div>
            <a href="javascript:Load()">
                <div class="block-more enabled" id="btnMore">点击加载更多</div>
            </a>
        </div>
    </div>
</div>

<div class="tyvj-right grid_3">
    <div class="tyvj-shadow tyvj-boder-top tyvj-content">
        @if (User.Identity.IsAuthenticated)
        {
            <h2>团队操作</h2>
            <ul>
                <li>@Html.ActionLink("团队主页", "Show", "Group", new { id = Model.ID }, null)</li>
                <li>@Html.ActionLink("团队成员", "Member", "Group", new { id = Model.ID }, null)</li>
                <li>@Html.ActionLink("团队比赛", "Contest", "Group", new { id = Model.ID }, null)</li>
                @if (User.Identity.IsAuthenticated && ViewBag.CurrentUser.ID != Model.UserID)
                {
                    if (Model.GroupJoins.Where(x => x.UserID == (int)ViewBag.CurrentUser.ID).Count() > 0)
                    {
                        <li>正在审核加入申请</li>
                    }
                    else if (Model.Members.Where(x => x.UserID == (int)ViewBag.CurrentUser.ID).Count() > 0)
                    {
                        <li>@Html.ActionLink("退出团队", "Join", "Group", new { id = Model.ID }, null)</li>
                    }
                    else if (Model.UserID != ViewBag.CurrentUserID)
                    {
                        <li>@Html.ActionLink("加入团队", "Join", "Group", new { id = Model.ID }, null)</li>
                    }
                }
                @if (User.Identity.IsAuthenticated && ViewBag.CurrentUser.ID == Model.UserID)
                {
                    <li>@Html.ActionLink("创建比赛", "CreateContest", "Group", new { id = Model.ID }, null)</li>
                    <li>@Html.ActionLink("团队设置", "Settings", "Group", new { id = Model.ID }, null)</li>
                    <li>@Html.ActionLink("成员审核", "Ratify", "Group", new { id = Model.ID }, null)</li>
                }
            </ul>
        }
    </div>
</div>

<script>
    id = @Model.ID;
</script>