@{
    ViewBag.Title = "团队";
    ViewBag.BannerTitle = "团队";
}

<div class="tyvj-boder-top tyvj-shadow grid_9">
    <div class="cont-wrap">
        <table class="tyvj-list-discuss">
            <tbody>
                @foreach (vGroupJoin g in ViewBag.GroupJoin)
                {
                    <tr>
                        <td class="c1">
                            <img class="face" src="@g.User.Gravatar" />
                        </td>
                        <td class="c2">
                            <div class="title">
                                <a href="/User/@g.UserID">@g.User.Username</a>
                                <span style="font-size: 13px; color: #BBB;">@g.User.Motto</span>
                            </div>
                            <div class="footer">@g.Content</div>
                        </td>
                        <td class="c3">
                            @using (Html.BeginForm("Accept", "Group", new { id = g.ID }, FormMethod.Post, null))
                            {
                                @Html.AntiForgeryToken()
                                <p>@Html.TextBox("id", @g.ID, new { @class = "textbox" }) 请输入有效的比赛ID。</p>
                                <p><input type="submit" value="接受" class="button button-def" /></p>
                            }
                            @using (Html.BeginForm("Decline", "Group", new { id = g.ID }, FormMethod.Post, null))
                            {
                                @Html.AntiForgeryToken()
                                <p>@Html.TextBox("id", @g.ID, new { @class = "textbox" }) 请输入有效的比赛ID。</p>
                                <p><input type="submit" value="拒绝" class="button button-def" /></p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<div class="tyvj-right grid_3">
    <div class="tyvj-shadow tyvj-boder-top tyvj-content">
        @if (User.Identity.IsAuthenticated)
        {
            <h2>团队操作</h2>
            <ul>
                <li>@Html.ActionLink("团队主页", "Show", "Group", new { id = Model.ID }, null)</li>
                <li>@Html.ActionLink("团队成员", "Member", "Group", new { id = Model.ID }, null)</li>
                <li>@Html.ActionLink("团队比赛", "Contest", "Group", new { id = Model.ID }, null)</li>
                @if (User.Identity.IsAuthenticated && ViewBag.CurrentUser.ID != Model.UserID)
                {
                    <li>@Html.ActionLink("加入团队", "Join", "Group", new { id = Model.ID }, null)</li>
                }
                @if (User.Identity.IsAuthenticated && ViewBag.CurrentUser.ID == Model.UserID)
                {
                    <li>@Html.ActionLink("创建比赛", "CreateContest", "Group", new { id = Model.ID }, null)</li>
                    <li>@Html.ActionLink("团队设置", "Settings", "Group", new { id = Model.ID }, null)</li>
                    <li>@Html.ActionLink("成员审核", "Ratify", "Group", new { id = Model.ID }, null)</li>
                }
            </ul>
        }
    </div>
</div>

<script>
    function Accept() {

    }
</script>