@{
    ViewBag.Title = "团队";
    ViewBag.BannerTitle = "团队";
}

<div class="tyvj-boder-top tyvj-shadow grid_9">
    <div class="tyvj-boder-top-red tyvj-shadow tyvj-block">
        <table class="tyvj-list-case">
            <tbody>
                @foreach (vContest c in Model)
                {
                    <tr @Html.Sanitized(c.StatusAsInt == 1 ? "class=\"highlight\"" : "")>
                        <td class="c1">
                            <div class="title">@Html.ActionLink(c.Title, "Show", "Contest", new { id = c.ID }, null)</div>
                            <div class="footer"><span>赛制：@c.Format / 参与人数：@c.Join / 开始时间：@c.Begin / 时长：@c.Duration</span></div>
                        </td>
                        @if (c.StatusAsInt == 0)
                        {
                            <td class="c2"><span style="color:green">@c.Status</span></td>
                        }
                        else if (c.StatusAsInt == 1)
                        {
                            <td class="c2"><span style="color:rgb(255,128,128)">@c.Status</span></td>
                        }
                        else
                        {
                            <td class="c2"><span style="color:#333">@c.Status</span></td>
                        }
                    </tr>
                }
            </tbody>
            <tbody id="lstContests"></tbody>
        </table>
        <div>
            <a href="javascript:Load()">
                <div class="block-more enabled" id="btnMore">点击加载更多</div>
            </a>
        </div>
    </div>
</div>

<div class="tyvj-right grid_3">
    <div class="tyvj-shadow tyvj-boder-top tyvj-content">
        <h2>团队操作</h2>
        <ul>
            <li>团队首页</li>
            <li>团队成员</li>
            <li>团队比赛</li>
            <li>加入团队</li>
            <li>团队设置</li>
            <li>成员审核</li>
        </ul>
    </div>
</div>