@model Group
@{
    ViewBag.Title = Model.Title+" - 团队";
}

<div class="tyvj-boder-top-red tyvj-shadow grid_9">
    <div class="tyvj-block">
        <table class="tyvj-list-case">
            <tbody>
                @foreach (vContest c in ViewBag.Contests)
                {
                    <tr @Html.Sanitized(c.StatusAsInt == 1 ? "class=\"highlight\"" : "")>
                        <td class="c1">
                            <div class="title">@Html.ActionLink(c.Title, "Show", "Contest", new { id = c.ID }, null)</div>
                            <div class="footer"><span>赛制：@c.Format / 参与人数：@c.Join / 开始时间：@c.Begin / 时长：@c.Duration</span></div>
                        </td>
                        @if (c.StatusAsInt == 0)
                        {
                            <td class="c2"><span style="color:green">@c.Status</span></td>
                        }
                        else if (c.StatusAsInt == 1)
                        {
                            <td class="c2"><span style="color:rgb(255,128,128)">@c.Status</span></td>
                        }
                        else
                        {
                            <td class="c2"><span style="color:#333">@c.Status</span></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="tyvj-right grid_3">
    <div class="tyvj-shadow tyvj-boder-top tyvj-content">
        @if (User.Identity.IsAuthenticated)
        {
            <h2>团队操作</h2>
            <ul>
                <li>@Html.ActionLink("团队主页", "Show", "Group", new { id = Model.ID }, null)</li>
                <li>@Html.ActionLink("团队成员", "Member", "Group", new { id = Model.ID }, null)</li>
                <li>@Html.ActionLink("团队比赛", "Contest", "Group", new { id = Model.ID }, null)</li>
                @if (User.Identity.IsAuthenticated && ViewBag.CurrentUser.ID != Model.UserID)
                {
                    if (Model.GroupJoins.Where(x => x.UserID == (int)ViewBag.CurrentUser.ID).Count() >0)
                    { 
                        <li>正在审核加入申请</li>
                    }
                    else if (Model.Members.Where(x => x.UserID == (int)ViewBag.CurrentUser.ID).Count() > 0)
                    {
                        <li>@Html.ActionLink("退出团队", "Join", "Group", new { id = Model.ID }, null)</li>
                    }
                    else if (Model.UserID != ViewBag.CurrentUserID)
                    {
                        <li>@Html.ActionLink("加入团队", "Join", "Group", new { id = Model.ID }, null)</li>
                    }
                }
                @if (User.Identity.IsAuthenticated && ViewBag.CurrentUser.ID == Model.UserID)
                {
                    <li>@Html.ActionLink("创建比赛", "CreateContest", "Group", new { id = Model.ID }, null)</li>
                    <li>@Html.ActionLink("团队设置", "Settings", "Group", new { id = Model.ID }, null)</li>
                    <li>@Html.ActionLink("成员审核", "Ratify", "Group", new { id = Model.ID }, null)</li>
                }
            </ul>
        }
    </div>
</div>