@model User
@{
    ViewBag.Title = Model.Username + "举办的比赛";
}
<style>
    td {
        text-align: center;
    }
</style>
<div class="tyvj-left" style="width:755px;">
    <div class="tyvj-shadow">
        <div class="tyvj-content-header">
            <strong>@Model.Username @(Model.Sex == Sex.Male ? "♂" : "♀")</strong>
        </div>
        <div class="tyvj-content" style="padding-top:10px;">
            <div class="tyvj-boder-top tyvj-content-inner">
                <h2>@Model.Username 举办的比赛</h2>
                @if (User.Identity.IsAuthenticated && Model.ID == ViewBag.CurrentUser.ID)
                {
                    using (Html.BeginForm("Create", "Contest", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <p><input type="submit" class="button button-def" value="创建新比赛" /></p>
                    }
                }
                <table class="tyvj-list" style="border:1px solid #ccc">
                    <thead class="tyvj-list-head">
                        <tr>
                            <th class="tyvj-list-th">比赛名称</th>
                            <th class="tyvj-list-th">赛制</th>
                            <th class="tyvj-list-th">开始时间</th>
                            <th class="tyvj-list-th">时长</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Tyvj.DataModels.Contest contest in ViewBag.Contests)
                        {
                            <tr>
                                <td><a href="/Contest/@contest.ID">@contest.Title</a></td>
                                <td>@contest.Format.ToString()</td>
                                <td>@contest.Begin.ToString("yyyy-MM-dd HH:mm")</td>
                                <td>@Html.ToTimeLength(contest.Begin, contest.End)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="tyvj-right" style="width:200px;">
    <div class="tyvj-border-top-gray tyvj-side-content tyvj-block" style="text-align:center">
        <p><a href="/User/@Model.ID">@Model.Username</a></p>
        <p><img src="/Avatar/@Model.ID" style="width:80px" /></p>
        <p>@Model.Role.ToString()</p>
    </div>
    <div class="tyvj-border-top-gray tyvj-side-content">
        <h3>操作</h3>
    </div>
    <ul class="section" id="actions" style="margin-left:10px">
        @if (User.Identity.IsAuthenticated && ViewBag.CurrentUser.ID == Model.ID)
        {
            <li><a class="action highlight" href="/User/DailySign">每日签到</a></li>
            <li><a class="action highlight" href="/User/Quest">日常任务</a></li>
        }
        <li><a class="action" href="/User/@Model.ID">Ta的资料</a></li>
        <li><a class="action" href="/User/@Model.ID/Contests">Ta举办的比赛</a></li>
        <li><a class="action" href="/User/@Model.ID/Statuses">Ta的评测记录</a></li>
        @if (User.Identity.IsAuthenticated && (ViewBag.CurrentUser.Role >= UserRole.Master || Model.ID == ViewBag.CurrentUser.ID))
        {
            <li><a class="action" href="/User/@Model.ID/Settings">个人设置</a></li>
        }
    </ul>
</div>
