@model User
@{
    ViewBag.Title = Model.Username + " - 用户资料";
}
<script type="text/javascript" src="~/Scripts/jquery.flot.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.flot.time.js"></script>
<div class="tyvj-left" style="width:755px;">
    <div class="tyvj-shadow">
        <div class="tyvj-content-header">
            <strong>@Model.Username @(Model.Sex == Sex.Male ? "♂" : "♀")</strong>
        </div>
        <div class="tyvj-content" style="padding-top:10px;">
            <div class="tyvj-boder-top tyvj-content-inner">
                <h2>资料</h2>
                <div class="tyvj-status-info">
                    <table>
                        <tbody>
                            <tr><td class="tyvj-status-info-left">UID</td><td>@Model.ID</td></tr>
                            <tr><td class="tyvj-status-info-left">用户组</td><td>@Model.Role.ToString()</td></tr>
                            <tr><td class="tyvj-status-info-left">注册时间</td><td>@Model.RegisterTime.ToString("yyyy-MM-dd HH:mm:ss"))</td></tr>
                            <tr><td class="tyvj-status-info-left">上次登录</td><td>@Html.ToTimeTip(Model.LastLoginTime)</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tyvj-content" style="padding-top:10px;">
            <div class="tyvj-boder-top tyvj-content-inner">
                <h2>Rating @(Model.Ratings.Sum(x=>x.Credit)+1500)</h2>
                <div id="chart" style="width:100%;height:300px;"></div>
                <script>
                                $(document).ready(function () {
                                    var markings = [
                                    { color: '#f33', lineWidth: 1, yaxis: { from: 2400 } },
                                    { color: '#ffbb55', lineWidth: 1, yaxis: { from: 2000, to: 2400 } },
                                    { color: '#cca5d2', lineWidth: 1, yaxis: { from: 1700, to: 2000 } },
                                    { color: '#aaf', lineWidth: 1, yaxis: { from: 1500, to: 1700 } },
                                    { color: '#7f7', lineWidth: 1, yaxis: { from: 1000, to: 1500 } },
                                    { color: '#ccc', lineWidth: 1, yaxis: { from: 0, to: 1000 } },
                                    ];
                                    var line = [
                                    @foreach (Rating item in Model.Ratings.OrderBy(x=>x.Time))
                                    {
                                        @:[@Html.ToTimeStamp(item.Time)000, @(Model.Ratings.Where(x => x.Time <= item.Time).Sum(x => x.Credit) + 1500), "@item.Contest.Title",@item.Credit],
                                    }
                                    []];
                                    var max = line[0][1];
                                    var min = line[0][1];
                                    for(var i = 1; i < line.length; i++)
                                    {
                                        if (line[i][1] > max) max = line[i][1];
                                        if (line[i][1] < min) min = line[i][1];
                                    }
                                    var obligate = parseInt((max - min) / 3);
                                    var plot = $.plot($("#chart"), [{ data: line }], {
                                        lines: { show: true },
                                        xaxis: { mode: "time" },
                                        yaxis: { min: min - obligate, ticks: [1000, 1500, 1700, 2000, 2400, Math.ceil((max + obligate) / 100) * 100] },
                                        points: { show: true },
                                        grid: {
                                            hoverable: true,
                                            markings: markings
                                        }
                                    });
                                    function showTooltip(x, y, contents) {
                                        $('<div id="tooltip">' + contents + '</div>').css({
                                            position: 'absolute',
                                            display: 'none',
                                            top: y - 20,
                                            left: x + 10,
                                            border: '1px solid #fdd',
                                            padding: '2px',
                                            'z-index': '10',
                                            'font-size': '11px',
                                            'background-color': '#fee',
                                            opacity: 0.80
                                        }).appendTo("body").fadeIn(200);
                                    }

                                    $("#chart").bind("plothover", function (event, pos, item) {
                                        if (item) {
                                            $("#tooltip").remove();
                                            var total = line[item.dataIndex][1];
                                            var title = line[item.dataIndex][2];
                                            var change = line[item.dataIndex][3];
                                            var html;
                                            if (change > 0)
                                                html = total + " (+" + change + ")<br/>" + title;
                                            else
                                                html = total + " (" + change + ")<br/>" + title;
                                            showTooltip(item.pageX, item.pageY, html);
                                        }
                                    });
                                });
                </script>
            </div>
            <div class="tyvj-content" style="padding-top:10px;">
                <div class="tyvj-boder-top tyvj-content-inner">
                    <h2>签名</h2>
                    <p>@Model.Motto</p>
                </div>
            </div>
            <div class="tyvj-content" style="padding-top:10px;">
                <div class="tyvj-boder-top tyvj-content-inner">
                    <h2>联系</h2>
                    <div class="tyvj-status-info">
                        <table>
                            <tbody>
                                <tr><td class="tyvj-status-info-left">Email</td><td>@Model.Email.Replace("@","#")</td></tr>
                                <tr><td class="tyvj-status-info-left">QQ</td><td>@Model.QQ</td></tr>
                                <tr><td class="tyvj-status-info-left">学校</td><td>@Model.School</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tyvj-content" style="padding-top:10px;">
                <div class="tyvj-boder-top tyvj-content-inner">
                    <h2>通过题目</h2>
                    @foreach (var id in ViewBag.AcceptedList)
                    {
                        <a href="/p/@id"><span class="label blue label-ac">P@(id)</span></a>
                    }
                    <div class="tyvj-clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tyvj-right" style="width:200px;">
    <div class="tyvj-border-top-gray tyvj-side-content tyvj-block" style="text-align:center">
        <p><a href="/User/@Model.ID">@Model.Username</a></p>
        <p>@Html.Gravatar(Model.Gravatar, 80)</p>
        <p>@Model.Role.ToString()</p>
    </div>
    <div class="tyvj-border-top-gray tyvj-side-content">
        <h3>操作</h3>
    </div>
    <ul class="section" id="actions" style="margin-left:10px">
        <li><a class="action" href="/User/@Model.ID">Ta的资料</a></li>
        <li><a class="action" href="/User/@Model.ID/Contests">Ta举办的比赛</a></li>
        <li><a class="action" href="/User/@Model.ID/Statuses">Ta的评测记录</a></li>
        @if (User.Identity.IsAuthenticated && (ViewBag.CurrentUser.Role >= UserRole.Master || Model.ID == ViewBag.CurrentUser.ID))
        {
            <li><a class="action" href="/User/@Model.ID/Settings">个人设置</a></li>
        }
    </ul>
</div>
