@model User
@{
    ViewBag.Title = Model.Username + " - 用户设置";
}
<style>
    .tyvj-status-info {
        line-height:50px;
    }
    .select {
        width:120px;
    }
</style>
<div class="tyvj-left" style="width:755px;">
    <div class="tyvj-shadow">
        <div class="tyvj-content-header">
            <strong>@Model.Username @(Model.Sex == Sex.Male ? "♂" : "♀")</strong>
        </div>
        <div class="tyvj-content" style="padding-top:10px;">
            <div class="tyvj-boder-top tyvj-content-inner">
                <h2>修改密码</h2>
                <div class="tyvj-status-info">
                    @using (Html.BeginForm("ChangePassword", "User", new { id = Model.ID }, FormMethod.Post, new { id = "frmChangePassword" })) 
                    { 
                        @Html.AntiForgeryToken()
                        <table>
                            <tbody>
                                @if (ViewBag.CurrentUser.Role < UserRole.Master)
                                {
                                    <tr><td class="tyvj-status-info-left">旧密码</td><td>@Html.Password("OldPassword", "", new { @class = "textbox" })</td></tr>
                                }
                                <tr><td class="tyvj-status-info-left">新密码</td><td>@Html.Password("NewPassword", "", new { @class = "textbox" })</td></tr>
                                <tr><td class="tyvj-status-info-left">密码重复</td><td>@Html.Password("ConfirmPassword", "", new { @class = "textbox" })</td></tr>
                                <tr><td class="tyvj-status-info-left"></td><td><input type="button" value="保存" id="btnChangePassword" class="button" /></td></tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
        <div class="tyvj-content" style="padding-top:10px;">
            <div class="tyvj-boder-top tyvj-content-inner">
                <h2>修改资料</h2>
                <div class="tyvj-status-info">
                    @using (Html.BeginForm("ChangeProfile", "User", new { id = Model.ID }, FormMethod.Post, new { id="frmChangeProfile"}))
                    { 
                        @Html.AntiForgeryToken()
                    <table>
                        <tbody>
                            <tr><td class="tyvj-status-info-left">性别</td><td class="tyvj-status-info-middle">
                                <select name="Sex" class="select" style="width:30px">
                                    <option value="0" @(Model.SexAsInt == 0 ? "selected" : "")>♂</option>
                                    <option value="1" @(Model.SexAsInt == 1 ? "selected" : "")>♀</option>
                                </select>
                                </td><td></td></tr>
                            <tr><td class="tyvj-status-info-left">真实姓名</td><td class="tyvj-status-info-middle">@Html.TextBox("Name", Model.Name, new { @class = "textbox" })</td><td></td></tr>
                            <tr><td class="tyvj-status-info-left">学校</td><td class="tyvj-status-info-middle">@Html.TextBox("School", Model.School, new { @class = "textbox" })</td><td></td></tr>
                            <tr><td class="tyvj-status-info-left">QQ</td><td class="tyvj-status-info-middle">@Html.TextBox("QQ", Model.QQ, new { @class = "textbox" })</td><td></td></tr>
                            <tr><td class="tyvj-status-info-left">通信地址</td><td class="tyvj-status-info-middle">@Html.TextBox("Address", Model.Address, new { @class = "textbox" })</td><td><small>用于收取Tyvj奖品、学习资料等，需提供省市区街道等详细信息。</small></td></tr>
                            <tr><td class="tyvj-status-info-left">手机号码</td><td class="tyvj-status-info-middle">@Html.TextBox("Phone", Model.Phone, new { @class = "textbox" })</td><td></td></tr>
                            <tr><td class="tyvj-status-info-left">个性签名</td><td class="tyvj-status-info-middle">@Html.TextBox("Motto", Model.Motto, new { @class = "textbox" })</td><td></td></tr>
                            <tr>
                                <td class="tyvj-status-info-left">偏好语言</td>
                                <td class="tyvj-status-info-middle">
                                    <select name="CommonLanguage" class="select">
                                        @{
                                            var j = 0;
                                            foreach (var name in CommonEnums.LanguageDisplay)
                                            {
                                                if (Model.CommonLanguageAsInt == j)
                                                {
                                                    <option value="@(j++)" selected>@name</option>
                                                }
                                                else
                                                {
                                                    <option value="@(j++)">@name</option>
                                                }
                                            }
                                        }
                                    </select>
                                </td><td></td>
                            </tr>
                            <tr><td class="tyvj-status-info-left"></td><td class="tyvj-status-info-middle"><input type="button" value="保存" id="btnChangeProfile" class="button" /></td><td></td></tr>
                        </tbody>
                    </table>
                    }
                </div>
            </div>
        </div>
        <div class="tyvj-content" style="padding-top:10px;">
            <div class="tyvj-boder-top tyvj-content-inner">
                <h2>修改头像</h2>
                <div class="tyvj-status-info">
                    @using (Html.BeginForm("ChangeAvatar", "User", new { id = Model.ID }, FormMethod.Post, new { id = "frmChangeAvatar", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <table>
                            <tbody>
                                <tr>
                                    <td class="tyvj-status-info-left">头像方式</td>
                                    <td class="tyvj-status-info-middle">
                                        <select name="AvatarMode" id="AvatarMode" class="select" style="width:80px">
                                            <option value="0" @(string.IsNullOrEmpty(Model.Gravatar) ? "selected" : "")>上传头像</option>
                                            <option value="1" @(!string.IsNullOrEmpty(Model.Gravatar) ? "selected" : "")>Gravatar</option>
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr id="avtUpload"><td class="tyvj-status-info-left">上传头像</td><td class="tyvj-status-info-middle"><input type="file" name="Avatar" /></td><td><small>最大256KB，支持.jpg, .png, .gif, .bmp格式。</small></td></tr>
                                <tr id="avtGravatar"><td class="tyvj-status-info-left">Gravatar</td><td class="tyvj-status-info-middle">@Html.TextBox("Gravatar", Model.Gravatar, new { @class = "textbox" })</td><td><small><a href="https://www.gravatar.com/">Gravatar</a>是一个全球通用的头像服务。</small></td></tr>
                                <tr><td class="tyvj-status-info-left"></td><td class="tyvj-status-info-middle"><img src="/Avatar/@Model.ID" style="width:120px" /></td><td></td></tr>
                                <tr><td class="tyvj-status-info-left"></td><td class="tyvj-status-info-middle"><input type="submit" value="保存" id="btnChangeAvatar" class="button" /></td><td></td></tr>
                            </tbody>
                        </table>
                                                }
                </div>
            </div>
        </div>
        @if (ViewBag.CurrentUser.Role >= UserRole.Root)
        {
            <div class="tyvj-content" style="padding-top:10px;">
                <div class="tyvj-boder-top tyvj-content-inner">
                    <h2>修改角色</h2>
                    <div class="tyvj-status-info">
                        @using (Html.BeginForm("ChangeRole", "User", new { id = Model.ID }, FormMethod.Post, new { id = "frmChangeRole" }))
                        {
                            @Html.AntiForgeryToken()
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="tyvj-status-info-left">用户角色</td>
                                        <td>
                                            <select name="Role" class="select">
                                                @{
                            var i = 0;
                            foreach (var name in Enum.GetNames(typeof(UserRole)))
                            {
                                if (Model.RoleAsInt == i)
                                {
                                    <option value="@(i++)" selected>@name</option>
                                }
                                else
                                {
                                    <option value="@(i++)">@name</option>
                                }
                            }
                                                }
                                            </select>
                                            <input type="button" value="保存" id="btnChangeRole" class="button" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="tyvj-right" style="width:200px;">
    <div class="tyvj-border-top-gray tyvj-side-content tyvj-block" style="text-align:center">
        <p><a href="/User/@Model.ID">@Model.Username</a></p>
        <p><img src="/Avatar/@Model.ID" style="width:80px;height:80px" /></p>
        <p>@Model.Role.ToString()</p>
    </div>
    <div class="tyvj-border-top-gray tyvj-side-content">
        <h3>操作</h3>
    </div>
    <ul class="section" id="actions" style="margin-left:10px">
        @if (User.Identity.IsAuthenticated && ViewBag.CurrentUser.ID == Model.ID)
        {
            <li><a class="action highlight" href="/User/DailySign">每日签到</a></li>
            <li><a class="action highlight" href="/User/Quest">日常任务</a></li>
            <li><a class="action highlight" href="/User/VIP">我要成为VIP</a></li>
            <li><a class="action highlight" href="/User/Coin">金币转账</a></li>
        }
        <li><a class="action" href="/User/@Model.ID">Ta的资料</a></li>
        <li><a class="action" href="/User/@Model.ID/Contests">Ta举办的比赛</a></li>
        <li><a class="action" href="/User/@Model.ID/Statuses">Ta的评测记录</a></li>
        @if (User.Identity.IsAuthenticated && (ViewBag.CurrentUser.Role >= UserRole.Master || Model.ID == ViewBag.CurrentUser.ID))
        {
            <li><a class="action" href="/User/@Model.ID/Settings">个人设置</a></li>
        }
    </ul>
</div>

<script>
    $("#btnChangePassword").click(function () {
        $.post("/User/ChangePassword/@Model.ID", $("#frmChangePassword").serialize(), function (msg) { CastMsg(msg) });
    });
    $("#btnChangeProfile").click(function () {
        $.post("/User/ChangeProfile/@Model.ID", $("#frmChangeProfile").serialize(), function (msg) { CastMsg(msg) });
    });
    $("#btnChangeRole").click(function () {
        $.post("/User/ChangeRole/@Model.ID", $("#frmChangeRole").serialize(), function (msg) { CastMsg(msg) });
    });
    if ($("#AvatarMode").val() == 0) {
        $("#avtUpload").show();
        $("#avtGravatar").hide();
    }
    else {
        $("#avtUpload").hide();
        $("#avtGravatar").show();
    }
    $("#AvatarMode").change(function () {
        if ($("#AvatarMode").val() == 0) {
            $("#avtUpload").show();
            $("#avtGravatar").hide();
        }
        else {
            $("#avtUpload").hide();
            $("#avtGravatar").show();
        }
    });
</script>